[submodule "llmfarm_core.swift"]
	path = llmfarm_core.swift
	url = https://github.com/zkh2016/llmfarm_core.swift.git
[submodule "Compile-to-ipa-without-developer-account"]
	path = Compile-to-ipa-without-developer-account
	url = https://github.com/JustFrederik/Compile-to-ipa-without-developer-account.git
